body{
	background:#ff4d4d; 
}
.naslov{
	color: white;
	text-align: center;
	font-family: arial;
	font-size: 40px;
}
.lista{
	color: white;
	font-family: arial;
	font-size: 30px;
	padding: 50px 50px;

}